<div class="row">
  <div class="col l7 offset-l3 m8 offset-m2 s12">
    <div class="card">
      <%= render 'app_title' %>
      <div class="already-exists">
          <% if @existing_dve %>
            <div class="message">
              Já existe uma dve para esta data. Deseja editá-la?
              <%= link_to "Clique aqui", edit_dve_path(@existing_dve, dve: {visible: :true}) %>
            </div>
          <% end %>
        </div>
      <div class="card-content">
        <%= render 'form' %>
        <%= link_to 'Voltar', root_path %>
      </div>
    </div>
  </div>
</div>
