<div class="row">
  <div class="col l7 offset-l3 m8 offset-m2 s12">
    <div class="card">
      <%= render 'app_title' %>
      <div class="already-exists">
          <%= render 'if_dve_exists' %>
        </div>
      <div class="card-content">
        <%= render 'dvenew_form' %>
        <%= link_to 'Voltar', root_path %>
      </div>
    </div>
  </div>
</div>