
<div class="card">
    <div class="row">
        <div class="col s6">
           <%= @dve.event_name %> 
        </div>
        <div class="col s6">
           <%= @dve.event_date %> 
        </div>
        <div class="col s6">
           <%= @dve.start_day %> 
        </div>
        <div class="col s6">
           <%= @dve.end_day %> 
        </div>
    </div>
</div>